<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>ToyProject</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/freeBoard/freeBoardList.css}">

</head>
<body>
<th:block layout:fragment="header" th:include="/fragments/header"></th:block>
<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="input-btn">

                <a th:href="@{/free-board/write}">게시글 등록</a>
            </div>
            <div class="col-md-15">
                <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th style="width: 105px">글 번호</th>
                            <th style="width: 105px">작성자</th>
                            <th style="width: 300px">제목</th>
                            <th style="width: 175px">작성일</th>
                            <th style="width: 105px">조회수</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="freeBoard : ${freeBoardList}" style="cursor: pointer">
                                <td th:text="${freeBoard.no}"></td>
                                <td th:text="${freeBoard.writer}"></td>
                                <td><a th:href="@{/free-board/get/{no}(no=${freeBoard.no})}"
                                th:text="${freeBoard.title}"></a></td>
                                <td th:text="${freeBoard.registTime}"></td>
                                <td th:text="${freeBoard.count}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <form id="searchForm" th:action="@{/free-board}" method="get">
                <div class="input-group">
                    <select class="select_type1" name="searchCondition" id="searchCondition">
                        <option selected>전체</option>
                        <option value="writer" th:selected="${ selectCriteria.getSearchCondition() == 'writer'}">작성자</option>
                        <option value="title" th:selected="${ selectCriteria.getSearchCondition() == 'title'}">제목</option>
                        <option value="content" th:selected="${ selectCriteria.getSearchCondition() == 'content'}">내용</option>
                    </select>
                    <input class="form-control" type="text" name="searchValue" th:value="${ selectCriteria.getSearchValue() }"  placeholder="검색어를 입력해주세요.">
                    <button type="submit" class="btn">검색</button>
                </div>
            </form>
            <div class="pagination">
                <!-- 맨 앞으로 이동 버튼 -->
                <button class="first-first"
                    th:onclick="'location.href=\'/free-board?currentPage='+ @{${selectCriteria.startPage}} +
                     '&searchCondition=' + @{${ selectCriteria.searchCondition }} +
                      '&searchValue=' + @{${ selectCriteria.searchValue }} + '\''"
                    th:disabled="${selectCriteria.pageNo == 1}"><<</button>
                <!-- 이전 페이지 버튼 -->
                <button class="first"
                    th:onclick="'location.href=\'/free-board?currentPage='+ @{${selectCriteria.pageNo - 1}} +
                     '&searchCondition=' + @{${ selectCriteria.searchCondition }} +
                      '&searchValue=' + @{${ selectCriteria.searchValue }} + '\''"
                    th:disabled="${selectCriteria.pageNo == 1}"><</button>
                <!-- 숫자 버튼 -->
                <th:block th:each="page : ${#numbers.sequence(selectCriteria.startPage, selectCriteria.endPage)}">
                    <button class="active"
                        th:text="${ page }"
                        th:onclick="'location.href=\'/free-board?currentPage='+ @{${page}} +
                        '&searchCondition=' +@{${ selectCriteria.searchCondition }} +
                         '&searchValue=' + @{${ selectCriteria.searchValue }} + '\''"
                        th:disabled="${ selectCriteria.pageNo eq page }"></button>
                </th:block>
                <!-- 다음 페이지 버튼 -->
                <button class="last"
                    th:onclick="'location.href=\'/free-board?currentPage='+ @{${selectCriteria.pageNo + 1}} +
                     '&searchCondition=' + @{${ selectCriteria.searchCondition }} +
                      '&searchValue=' +@{${ selectCriteria.searchValue }} + '\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}">></button>
                <!-- 마지막 페이지로 이동 버튼 -->
                <button class="last-last"
                    th:onclick="'location.href=\'/free-board?currentPage='+ @{${selectCriteria.maxPage}} +
                    '&searchCondition=' + @{${ selectCriteria.searchCondition }} +
                     '&searchValue=' +@{${ selectCriteria.searchValue }} + '\''"
                    th:disabled="${selectCriteria.pageNo == selectCriteria.maxPage}">>></button>
            </div>
        </div>
    </div>
</section>

<script th:inline="javascript">

    const message = [[${message}]];

    if(message !== "" && message != null){

        alert(message);
    }

</script>
</body>
</html>

