<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>ToyProject</title>
    <meta charset="utf-8">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" th:href="@{/css/common/reset.css}">
    <link rel="stylesheet" th:href="@{/css/freeBoard/freeBoardDetail.css}">
</head>
<body>

<th:block layout:fragment="header" th:include="/fragments/header" class="title"></th:block>
<div class="container">
    <div class="title-box">
        <p th:text="'조회수 : ' + ${freeBoard.count}" class="count"></p>
        <p th:text="${freeBoard.title}" class="title"></p>
    </div>
    <div class="text-box">
         <p th:text="'작성자 : ' + ${freeBoard.writer}" class="writer"></p>
        <p th:utext="${freeBoard.contents}" class="contents"></p>
    </div>
    <th:block th:if="${freeBoard.writer == #authentication.getPrincipal().getNickname()}">
        <div class="input-btn">
            <a th:href="@{/free-board/put/{no}(no=${freeBoard.no})}">수정</a>
        </div>
    </th:block>

    <div id="form-commentInfo">
        <h4>Comment</h4>
        <form name="commentInsertForm" class="commentInsertForm" th:action="@{/free-board/comment/post}" method="post">
            <div class="input-group">
                <input type="hidden" name="no" th:value="${ freeBoard.no }">
                <input type="hidden" id="writer" name="writer" th:value="${ #authentication.getPrincipal().getNickname() }">
                <input type="text" id="comment-input" class="commentContent" name="content" placeholder="내용을 입력해주세요.">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" id="commentInsertBtn">등록</button>
                </span>
            </div>
        </form>
        <div class="commentCount">
            댓글 <span th:text="${#lists.size(comments) }"></span> 개
        </div>
        <div class="commentList">
            <table id="commentTable" class="comments-table">
                <colgroup>
                    <col style="width: 200px;">
                    <col>
                    <col style="width: 90px;">
                    <col style="width: 90px;">
                </colgroup>
                <tbody id="tableBody">
                    <tr th:each="comment : ${comments}">
                        <input type="hidden" name="commentNo" th:value="${comment.commentNo}">
                        <td class="writer-regDate">
                            <p class="writer" th:text="${comment.writer}"></p>
                            <p class="regDate" th:text="${comment.regDate}"></p>
                        </td>
                        <td class="content" th:text="${comment.content}"></td>
<!--                        <td style="width: 135px" th:text="${'추천 : ' + comment.commentLike}"></td>-->
<!--                            <td class="commentLike-like">-->
<!--                                <button class="likeBtn" th:onclick="commentLike([[${freeBoard.no}]],[[${comment.commentNo}]]);">추천</button>-->
<!--                            </td>-->
<!--                        <th:block th:each="like : ${selectLike}">-->
<!--                            <td class="commentLike-like" th:if="${like.stateYn == 'Y'}">-->
<!--                                <button class="likeBtn" th:onclick="commentLikeCancel([[${freeBoard.no}]],[[${comment.commentNo}]]);">추천 취소</button>-->
<!--                            </td>-->
<!--                        </th:block>-->
                        <td class="commentLike-delete" th:if="${comment.writer == #authentication.getPrincipal().getNickname()}">
                            <button class="deleteBtn" th:onclick="commentDelete([[${freeBoard.no}]],[[${comment.commentNo}]]);">삭제</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    const message = [[${message}]];
    const commentFail = [[${commentFail}]];
    const commentDeleteFail = [[${commentDeleteFail}]];
    const commentLikeFail = [[${commentLikeFail}]];
    const commentLikeCancelFail = [[${commentLikeCancelFail}]];

    if(message != null && message != ''){

        alert(message);
    }

    if(commentFail != null && commentFail != ''){

        alert(commentFail);
    }

    if(commentDeleteFail != null && commentDeleteFail != ''){

        alert(commentDeleteFail);
    }

    if(commentLikeFail != null && commentLikeFail != ''){

        alert(commentLikeFail);
    }

    if(commentLikeCancelFail != null && commentLikeCancelFail != ''){

        alert(commentLikeCancelFail);
    }

    function commentDelete(no, commentNo){
        $.post("/free-board/comment/" + no + "/" + commentNo);
        window.location.reload();
    }

    // function commentLikeCancel(no, commentNo){
    //     $.post("/free-board/comment/like-cancel/" + no + "/" + commentNo);
    //     window.location.reload();
    // }
    //
    // function commentLike(no, commentNo){
    //     $.post("/free-board/comment/like/" + no + "/" + commentNo)
    //     window.location.reload();
    // }

    $('#commentInsertBtn').click(function(){

        let comment = $('.commentContent').val().trim();

        if(comment == "" || comment == null){

            alert("댓글을 입력해주세요.");
            id.focus();
            return false;
        }

        return true;
    });

</script>
</html>

