<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toyproject.springsecurity.main.model.dao.CommentMapper">

    <resultMap id="commentResultMap" type="CommentDTO">
        <id property="commentNo" column="COMMENT_NO"/>
        <result property="content" column="CONTENT"/>
        <result property="writer" column="WRITER"/>
        <result property="regDate" column="REG_DATE"/>
    </resultMap>

    <resultMap id="commentLikeResultMap" type="CommentLikeDTO">
        <id property="commentNo" column="COMMENT_NO"></id>
        <id property="memberNickName" column="MEMBER_NICKNAME"></id>
        <result property="stateYn" column="STATE_YN"></result>
    </resultMap>

    <!-- 댓글 등록하기 -->
    <insert id="commentInsert">
        INSERT
          INTO POST_COMMENT
        (
          COMMENT_NO
        , CONTENT
        , WRITER
        , REG_DATE
        )
        VALUES
        (
          SEQ_COMMENT_NO.NEXTVAL
        , #{ content }
        , #{ writer }
        , TO_CHAR(SYSDATE, 'YYYY-MM-DD HH24:MI:SS')
        )
    </insert>

    <!-- 댓글 리스트 조회하기 -->
    <select id="commentList" resultMap="commentResultMap">
        SELECT
               COMMENT_NO
             , CONTENT
             , WRITER
             , REG_DATE
             , COMMENT_LIKE
          FROM POST_COMMENT
         ORDER BY REG_DATE ASC
    </select>

    <!-- 댓글 개수 조회하기 -->
    <select id="selectTotalCount" resultType="_int">
        SELECT
               COUNT(*)
          FROM POST_COMMENT
    </select>

    <!-- 댓글 삭제 -->
    <delete id="commentDelete" parameterType="_int">
        DELETE
          FROM POST_COMMENT
         WHERE COMMENT_NO = #{ commentNo }
    </delete>

    <insert id="commentLike">
        INSERT
          INTO COMMENT_LIKE
        (
          COMMENT_NO
        , MEMBER_NICKNAME
        , STATE_YN
        )
        VALUES
        (
          #{ commentNo }
        , #{ nickName }
        , 'Y'
        )
    </insert>

    <update id="commentLike2">

        UPDATE POST_COMMENT A
           SET A.COMMENT_LIKE = (SELECT COMMENT_LIKE
                                   FROM POST_COMMENT
                                  WHERE COMMENT_NO = #{ commentNo }
                                ) + 1
         WHERE COMMENT_NO = #{ commentNo }
    </update>
</mapper>