<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.toyproject.springsecurity.freeBoard.model.dao.FreeBoardMapper">

    <resultMap id="freeBoardResultMap" type="FreeBoardDTO">
        <id property="no" column="NO"></id>
        <result property="title" column="TITLE"></result>
        <result property="contents" column="CONTENTS"></result>
        <result property="count" column="COUNT"></result>
        <result property="registTime" column="REGIST_TIME"></result>
        <result property="writer" column="WRITER"></result>
        <result property="updateTime" column="UPDATE_TIME"></result>
    </resultMap>

    <resultMap id="commentResultMap" type="CommentDTO">
        <id property="commentNo" column="COMMENT_NO"/>
        <result property="content" column="CONTENT"/>
        <result property="writer" column="WRITER"/>
        <result property="regDate" column="REG_DATE"/>
        <result property="categoryNo" column="CATEGORY_NO"/>
        <result property="writeNo" column="WRITE_NO"/>
    </resultMap>

    <resultMap id="commentLikeResultMap" type="CommentLikeDTO">
        <id property="commentNo" column="COMMENT_NO"></id>
        <id property="memberNickName" column="MEMBER_NICKNAME"/>
        <result property="categoryNo" column="CATEGORY_NO"/>
        <result property="writeNo" column="WRITE_NO"/>
        <result property="stateYn" column="STATE_YN"/>
    </resultMap>

    <select id="freeBoardList" resultMap="freeBoardResultMap">
        SELECT
               NO
             , TITLE
             , CONTENTS
             , COUNT
             , REGIST_TIME
             , WRITER
             , UPDATE_TIME
             , DELETE_YN
          FROM FREE_BOARD
        <where>
            <if test="searchCondition == 'writer'">
                WRITER = #{ searchValue }
            </if>
            <if test="searchCondition == 'title'">
                TITLE LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'content'">
                CONTENTS LIKE '%' || #{ searchValue } || '%'
            </if>
        </where>
        ORDER BY NO DESC
    </select>

    <select id="freeBoardCount" resultType="_int" parameterType="hashmap">
        SELECT
               COUNT(*)
          FROM FREE_BOARD
        <where>
            <if test="searchCondition == 'writer'">
                WRITER = #{ searchValue }
            </if>
            <if test="searchCondition == 'content'">
                CONTENTS = #{ searchValue }
            </if>
            <if test="searchCondition == 'title'">
                TITLE = #{ searchValue }
            </if>
        </where>
    </select>

    <insert id="freeBoardInsert">
        INSERT
          INTO FREE_BOARD
        (
          No
        , TITLE
        , CONTENTS
        , COUNT
        , REGIST_TIME
        , WRITER
        , UPDATE_TIME
        , DELETE_YN
        )
        VALUES
        (
          SEQ_FREEBOARD_NO.NEXTVAL
        , #{ title }
        , #{ contents }
        , 0
        , TO_CHAR(SYSDATE, 'yyyy-MM-dd HH24:MI:SS')
        , #{ writer }
        , NULL
        , 'N'
        )
    </insert>

    <select id="freeBoardDetail" resultMap="freeBoardResultMap">
        SELECT
               NO
             , TITLE
             , CONTENTS
             , COUNT
             , REGIST_TIME
             , WRITER
             , UPDATE_TIME
             , DELETE_YN
        FROM FREE_BOARD
       WHERE NO = #{ no }
         AND DELETE_YN = 'N'
    </select>

    <update id="freeBoardDetailCount">
        UPDATE
               FREE_BOARD
           SET COUNT = COUNT + 1
         WHERE NO = #{ no }
    </update>

    <update id="freeBoardUpdate">
        UPDATE
               FREE_BOARD
        <trim prefix="SET" prefixOverrides=",">
           <if test="contents != null and contents != ''">
              , CONTENTS = #{ contents }
           </if>
            <if test="title != null and title != ''">
              , TITLE = #{ title }
            </if>
              , UPDATE_TIME = TO_CHAR(SYSDATE, 'yyyy-MM-dd HH24:MI:SS')
        </trim>
         WHERE NO = #{ no }
           AND WRITER = #{ writer }
    </update>

    <select id="freeBoardDetailCommentList" resultMap="commentResultMap">
        SELECT
               COMMENT_NO
             , CONTENT
             , WRITER
             , REG_DATE
             , COMMENT_LIKE
             , CATEGORY_NO
             , WRITE_NO
         FROM  POST_COMMENT
        WHERE  CATEGORY_NO = 1
          AND  WRITE_NO = #{ no }
        ORDER BY REG_DATE ASC
    </select>

    <insert id="freeBoardCommentInsert" parameterType="hashmap">
        INSERT
          INTO POST_COMMENT
        (
          COMMENT_NO
        , CONTENT
        , WRITER
        , REG_DATE
        , CATEGORY_NO
        , WRITE_NO
        )
        VALUES
        (
          SEQ_COMMENT_NO.NEXTVAL
        , #{ content }
        , #{ writer }
        , TO_CHAR(SYSDATE, 'yyyy-MM-dd HH24:MI:SS')
        , 1
        , #{ no }
        )
    </insert>

    <delete id="freeBoardCommentDelete" parameterType="_int">
        DELETE
          FROM POST_COMMENT
         WHERE COMMENT_NO = #{ commentNo }
    </delete>

    <update id="freeBoardCommentLikeCount">
        UPDATE
               POST_COMMENT
           SET COMMENT_LIKE = COMMENT_LIKE + 1
         WHERE WRITE_NO = #{ no }
           AND COMMENT_NO = #{ commentNo }
    </update>

    <insert id="freeBoardCommentLike">
        INSERT
          INTO COMMENT_LIKE
        (
          COMMENT_NO
        , MEMBER_NICKNAME
        , CATEGORY_NO
        , WRITE_NO
        , STATE_YN
        )
        VALUES
        (
          #{ commentNo }
        , #{ loginUser }
        , 1
        , #{ no }
        , 'Y'
        )
    </insert>

    <select id="freeBoardSelectCommentLike" resultMap="commentLikeResultMap">
        SELECT
               COMMENT_NO
             , MEMBER_NICKNAME
             , CATEGORY_NO
             , WRITE_NO
             , STATE_YN
          FROM COMMENT_LIKE
         WHERE MEMBER_NICKNAME = #{ loginUser }
           AND WRITE_NO = #{ no }
           AND CATEGORY_NO = 1
           AND STATE_YN = 'Y'
    </select>

    <delete id="freeBoardCommentLikeCancle">
        UPDATE
               COMMENT_LIKE
           SET STATE_YN = 'N'
         WHERE COMMENT_NO = #{ commentNo }
           AND WRITE_NO = #{ no }
           AND MEMBER_NICKNAME = #{ loginUser }
    </delete>

    <update id="freeBoardCommentLikeMinusCount">
        UPDATE
               POST_COMMENT
           SET COMMENT_LIKE = COMMENT_LIKE - 1
         WHERE COMMENT_NO = #{ commentNo }
           AND WRITE_NO = #{ no }
    </update>
</mapper>