<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>ToyProject</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/common/reset.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/login/login.css}"/>
</head>
<body>

  <!-- S: login -->
  <div class="login">
    <div class="login-form">

      <h1>이메일 인증</h1>
      <h3>비밀번호 재설정을 위한 이메일 인증을 진행합니다.</h3><br>

      <form th:action="@{/member/confirmEmail}" method="post">
        <div class="input-box">
          <label class="blind" for="input-id">id</label>
          <input type="text" id="input-id" name="memberId" placeholder="아이디를 입력하세요"/>
        </div>

        <div class="input-box">
          <label class="blind" for="input-pw">이메일</label>
          <input type="text" id="input-pw" name="email" placeholder="이메일을 입력하세요"/>
        </div>

        <button class="btn-submit" type="submit" onclick="send();">인증코드 발송</button>
      </form>

    </div>
  </div>
  <!-- E: login -->

</body>
<script th:inline="javascript">
  // 등록, 수정, 삭제 시 alert창 띄워주기
  let message = [[${message}]];

  if(message != null && message !== '') {
    alert(message);
  }
</script>
</html>