<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>로그인 성공</title>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main/reset.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main/loginSuccess.css}"/>
</head>
<body>
<!-- S: header -->
    <div class="header">
        <div class="logout_area" style="text-align: center">
            <button onclick="location.href='/member/logout'">로그아웃</button>
        </div>
        <div class="user_area">
            <h2><span style="text-align: center;" th:text="${ #authentication.getPrincipal().getNickname()}"></span>님 환영합니다.</h2>
        </div>
    </div>
<!-- E: header -->

<!-- S: container -->
    <div id="form-commentInfo">
        <form name="commentInsertForm" class="commentInsertForm">
            <div class="commentCount">
                댓글 <span th:text="${ totalCount }"></span> 개
            </div>
            <div class="input-group">
                <input type="hidden" id="writer" name="writer" th:value="${ #authentication.getPrincipal().getNickname() }">
                <input type="text" id="comment-input" class="content" name="content" placeholder="내용을 입력해주세요.">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="commentInsertBtn" name="commentInsertBtn">등록</button>
                </span>
            </div>
        </form>
        <div class="commentList">
            <table id="commentTable" class="comments-table">
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

<!-- E: container -->

<script th:inline="javascript">
    /*<![CDATA[*/
    let loginWriter = $('#writer').val();

$('[name=commentInsertBtn]').click(function(){ // 댓글 등록 버튼 클릭시

    let insertData = $('[name=commentInsertForm]').serialize(); // commentInsertForm의 내용을 가져옴
    commentInsert(insertData);
});

// 댓글 리스트
function commentList(){

    $.ajax({
        url : "/member/commentList",
        type : "GET",
        contentType : 'application/json',

        success : function(data){

            let commentList = JSON.parse(data);
            console.log(commentList);

            let $table = $("#commentTable tbody");
            $table.html("");

            for(let idx in commentList){

                let $tr = $("<tr>");
                let $td = $('<td class="writer-regDate">');
                let $writer = $('<p class="writer">').text(commentList[idx].writer);
                let $regDate = $('<p class="regDate">').text(commentList[idx].regDate);
                let $content = $('<td class="content">').text(commentList[idx].content);
                let $delete = $('<td style="text-align: right"><a class="commentDelete" onclick="commentDelete('+ commentList[idx].commentNo + ',\''+commentList[idx].writer+'\');">삭제</a></td>');
                let $commentNo = $('<input type="hidden" class="commentNo">').text(commentList[idx].commentNo);

                let writer = commentList[idx].writer;

                $tr.append($td);
                $td.append($writer);
                $td.append($regDate);
                $tr.append($content);
                $tr.append($delete)
                if(loginWriter != writer){
                    $delete.css("display", "none");
                }
                $tr.append($commentNo);

                $table.append($tr);

            }
        },
        error : function(){

            alert('오류!')
        }

    });
}

// 댓글 등록
function commentInsert(insertData) {
    $.ajax({
        url: '/member/commentInsert',
        type: 'POST',
        data: insertData,

        success: function() {
            commentList();
            $('.content').val(''); // 댓글 등록 성공시 foam 내용 초기화
        },

        error: function(error){
            console.log(error);
        }
    });
}

$(document).ready(function(){
   commentList(); // 페이지 로딩시 댓글 목록 출력
});

// 댓글 삭제
function commentDelete(commentNo, writer){

    if(loginWriter == writer){

        $.ajax({

            url : "/member/commentDelete/" + commentNo,
            type : "POST",
            success : function(){

                commentList();
            }
        });
    }

}
    /*]]>*/
</script>
</body>
</html>