<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>login</title>

  <link rel="stylesheet" type="text/css" th:href="@{/css/main/reset.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main/login.css}"/>
</head>
<body>

  <!-- S: login -->
  <div class="login">
    <div class="login-form">

      <h1>비밀번호 재설정</h1>
      <h3>비밀번호를 재설정합니다.</h3><br>

      <form th:action="@{/member/updatePwd}" method="post" onsubmit="ck_infor()">
        <input type="hidden" id="memberId" name="memberId" th:value="${ mvMemberId }"/>
        <input type="hidden" id="email" name="email" th:value="${ mvEmail }"/>
        <div class="input-box">
          <label class="blind" for="input-id">id</label>
          <input type="text" id="input-id" name="code" placeholder="인증코드 입력"/>
        </div>

        <div class="input-box">
          <label class="blind" for="input-pw">이메일</label>
          <input type="password" id="input-pw" name="newPwd" placeholder="새 비밀번호를 입력해주세요."/>
        </div>

        <div class="input-box">
          <label class="blind" for="input-pw">이메일</label>
          <input type="password" id="input-pw" name="newPwd2" placeholder="다시 한번 입력해주세요."/>
        </div>

        <button class="btn-submit" type="submit">비밀번호 재설정</button>
      </form>

    </div>
  </div>
  <!-- E: login -->

</body>
<script th:inline="javascript">
  // 등록, 수정, 삭제 시 alert창 띄워주기
  let message = [[${message}]];

  if(message != null && message !== '') {
    alert(message);
  }

    function ck_infor(){

    let pw1 = document.getElementById("newPwd");

    let pw2 = document.getElementById("newPwd2");

    // 비밀번호 일치 검사

    if(pw1.value != pw2.value){

    alert("비밀번호가 일치하지 않습니다.");

    return false;
  }
  }
</script>
</html>