/* S: login */
.login {
    width: 100vw;
    min-height: 100vh;
    background-color: #f3f2f1;
    position: relative;
}
.login .login-form {
    max-width: 400px;
    width: 90%;
    max-height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 30px rgba(200,200,200,0.4);
    padding: 50px 40px;
}
.login h1 {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 10px;
    padding-bottom: 40px;
}
.login .input-box {
    width: 100%;
    margin-bottom: 10px;
}
.login .input-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    transition: all .3s;
}
.login .input-box input:hover {
    border-color: #2b333f;
}
.login .btn-submit {
    margin-top: 10px;
    width: 100%;
    padding: 12px 0;
    background-color: #2b333f;
    border: 1px solid #2b333f;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all .3s;
}
.login .btn-submit:hover {
    background-color: #fff;
    color: #2b333f;
}
.login .a-box {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}
.login .a-box a:hover {
    text-decoration: underline;
    color: #ccc;
    transition: all .3s;
}
/* E: login */