@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');

body {
  background-color: #f8f9fd;
}

.container-fluid {
  max-width: 1140px;
  width: 100%;
  padding: 70px 30px;
  box-sizing: border-box;
  margin: 0 auto;
}

.container-fluid h3 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}
.container-fluid .table {
  width: 100%;
  border-collapse:separate;
  border-spacing: 0 20px;
}
.container-fluid .table th {
  vertical-align: top;
  padding: 10px 20px 10px 0;
  font-weight: bold;
}
.container-fluid .table td {
}
.container-fluid .table input,
.container-fluid .table textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #d4d4d4;
  background-color: #ffffff;
}
.container-fluid .table .note-editor {
  background-color: #ffffff;
}
.container-fluid .input-group {
  margin-top: 30px;
  text-align: center;
}
.container-fluid .input-group button {
  padding: 8px 20px;
  background-color: #343a40;
  border: 1px solid #343a40;
  color: #fff;
  cursor: pointer;
}
.container-fluid .input-group button:hover  {
  /*background-color: #d4d4d4;*/
  background-color: #fff;
  color: #343a40;
}